<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logar na  conta</h1>
    
    <form action="/auth/login" method="post">
        E-mail: <input type="email" name="email" required>
        <br>
        Senha: <input type="password" name="senha_hash" >
        <br>
        {% if erro %}
            <p style="color: brown;"> {{ erro }}</p>
        {% endif %}
        <button type="submit">Logar</button>
    </form>
    <p>Não tem conta? <a href="/auth/cadastro">Cadastrar</a></p>
</body>
</html>